[Unit]
Description=Web App
After=cloud-final.service

[Service]
EnvironmentFile=/home/ec2-user/.env
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/listener.js
# Restart=on-failure
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target